$green: #2ec97b;

/*****************/
/**** General ****/
/*****************/

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Open Sans', Helvetica, sans-serif;
  transition: background-color .5s;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

p {
  margin-bottom: 1em;
  font-family: 'Merriweather', serif;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 3em;
  font-family: 'Merriweather', serif;
}

h1 small {
  display: block;
  font-size: .5em;
}

a {
  color: inherit;
}

/*******************/
/**** Framework ****/
/*******************/

.padded {
  padding: 40px;
}

.align-center {
  text-align: center;
}

.clear {
  clear: both;
}

body.no-scroll {
  overflow: hidden;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.m-b-1 {
  margin-bottom: 10px;
}

.m-b-2 {
  margin-bottom: 20px;
}

.m-t-1 {
  margin-top: 10px;
}

.m-t-2 {
  margin-top: 20px;
}

.btn {
  border: none;
  outline: none;
  appearance: none;
  display: inline-block;
  position: relative;
  padding: .625em 1em;
  background-color: #ccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .5px;
  cursor: pointer;
  border-radius: 3px;
  top: 0;
  box-shadow: 0 3px #b3b3b3;
  text-shadow: 0 -1px rgba(0,0,0,.1);
  transition: box-shadow .1s, top .1s, background-color .5s;
}

.btn:hover {
  background-color: #d9d9d9;
}

.btn:active {
  top: 3px;
  box-shadow: 0 0 #b3b3b3;
}

.btn.green {
  background-color: $green;
  box-shadow: 0 3px #249e61;
}

.btn.green:hover {
  background-color: #2fd080;
}

.btn.green:active {
  box-shadow: 0 0 #249e61;
}

/****************/
/**** Panels ****/
/****************/

.panel-buttons {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  transition: right .3s;

  .panel-btn {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.panel-btn {
  height: 30px;
  width: 30px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background .2s;

  &:hover {
    background-color: $green;
  }
}

.btn-control {
  background-image: url('../images/controls-icon.png');
}

.btn-info {
  background-image: url('../images/info-icon.png');
}

.btn-close {
  background-image: url('../images/close-icon.png');
  position: fixed;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  transition-delay: 0s;
}

.btn-download {
  background-image: url('../images/download-icon.png');
}

.panels.open + .panel-buttons {
  right: 310px;

  .btn-close {
    opacity: 1;
    visibility: visible;
    transition-delay: .3s;
  }

  .panel-btn.active {
    cursor: default;
    background-color: $green;
  }
}

.panels {
  position: fixed;
  background-color: #fff;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  border-top: solid 5px $green;
  transition: right .3s;
  overflow: auto;

  &.hide {
    display: none;
  }

  &.open {
    right: 0;
  }
}

.welcome-screen {
  background-color: #fff;
  color: #555;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-top: solid 5px $green;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  visibility: hidden;
  transition: top .5s, visibility .5s;

  &.show {
    visibility: visible;
    top: 0;
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .credit {
    width: 100%;
    align-self: flex-end;
    padding: 20px 40px;
    font-size: .875em;
    color: #676564;
    background-color: #333;
  }
}

/****************/
/**** Mosaic ****/
/****************/

.mosaic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/******************/
/**** Dropzone ****/
/******************/

#drop-zone {
  display: inline-block;
  padding: 30px;
  text-align: center;
  font-size: .875em;
  border: solid 2px #ddd;
  color: #555;
  outline: dotted 2px #ddd;
  outline-offset: -10px;
  -webkit-transition: border-color .5s, outline-color .5s;
  transition: border-color .5s, outline-color .5s;
}

#drop-zone.dragover {
  border-color: $green;
  outline-color: $green;
}

#drop-zone input[type="file"] {
  position: absolute;
  left: -10000px;
}

/******************/
/**** Controls ****/
/******************/

#slider-wrapper {
  position: relative;

  #slider {
    padding-right: 60px;
  }

  #fontsize {
    width: 100%;
  }

  #fontsize-display {
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    line-height: 18px;
    text-align: right;
  }
}

.panel-heading {
  padding: 20px 40px;
  background-color: #f6f5f4;
}

/*****************/
/**** Overlay ****/
/*****************/

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

#overlay.show {
  display: block;
}

.progress-bar {
  height: 10px;
  width: 300px;
  border: solid 2px $green;
  position: relative;
  overflow: hidden;
  display: none;
}

.progress-bar.show {
  display: block;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2ec97b;
}

/**** Compatability alert ****/

.compatibility-alert {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  background-color: #ff7f00;
  color: #fff;
  font-size: .875em;
  text-align: center;
}
